.sidebar {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  background-color: $ThemeSubColorBackground;
  color: $themeColorMain;

  section {
    @include theme;
    height: $themeSize + 9em;
    box-sizing: border-box;
    width: $BrowserSidebarWidth;
    margin: $themeSize;
  }
}
