@media screen and (min-width: 35em) {

  .hero {
      display: flex;
      flex-flow: row wrap;

    h1 {
      margin-left: $themeSize;
      padding: $themeSize;
    }
    nav {
      margin-bottom: $themeSize;
    }
  }
}
