$headerBorderRadius: 1em 1em 0em 0em;
$themeColorMain: #444444;
$themeColorFont: #ffffff;
$themeFooterColor: #eeeeee;
$themeSize: 1em;
$themeSmallSize: 0.7em;
$borderThemeSize: 1px solid $themeColorMain;

$ArticleFlex: 0 0 42%;
$TabletFlex: 0 0 30%;
$ThemeColorBackground: #dddddd;

$ThemeSubColorBackground: #aaaaaa;
$ContainerWidth: 80%;
$HeaderWidth: 100%;
$FooterNavWidth: 50%;
$TabletFooterNavWidth: 30%;
$BrowserSidebarWidth: 85%;
$BrowserContainerDisplayWidth: 95%;
$BrowserMarginTheme: 0 auto;
