@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}

.sidebar {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.container {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
}

body {
    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}

.sidebar {
    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;
}

.sidebar section {
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
    box-sizing: border-box;
    width: 90%;
    margin: 1em;
}

footer p {
  color: #ffffff;
  background-color: #444444
  align-self: flex-end;
  padding: 1em;
  font-size: 0.7em;
}

footer nav {
  width: 50%;
  padding: 1em;
}

footer li {
  font-size: 0.7em;
}

footer {
    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
    justify-content: flex-start;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 35em) {
  .fa-bars {
    display: none;
  }

  .posts {
    display: flex;
    justify-content: space-around;
    flex-grow: 3;
    flex-wrap: wrap;
    margin: 0;
  }
  .sidebar {
    flex-direction: row;
  }
  .hero {
    display: flex;
    flex-flow: row wrap;
  }
  .hero h1 {
    margin-left: 1em;
    padding: 1em;
  }
  .hero nav {
    margin-bottom: 1em;
  }
  footer {
    display: flex;
  }
  footer p {
    display: flex;
    font-size: 1em;
    margin: 0.5em;
  }
  footer li {
    font-size: 1em;
  }
  footer nav {
    width: 30%;
  }
}

@media screen and (min-width: 40em) and (max-width: 42em){
  .posts article {
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 60em) and (max-width: 62em){
  .posts article {
    flex: 0 0 30%;
  }
  footer nav {
    width: 50%;
  }

@media screen and (min-width: 70em) {
  .posts article {
    flex: 0 0 42%;
  }
  .container {
    display: flex;
    width: 80%;
  }
  .sidebar {
    flex-direction: column;
  }
  .hero h1 {
    padding: 3em;
  }
  .sidebar section {
    width: 85%;
  }
  footer p {
    padding: 0em;
    text-align: right;
    align-self: flex-end;
    margin: 3em;
  }
}
